<div class="visitor-component-body">
  <div class="slide slide-right" (click)="navigateToGroup()">
    <div class="slide-content">Group</div>
    <img class="visitor-component-img" src="../assets/images/weight.jpg" height="200px" width="200px" />
  </div>
  <div class="slide slide-bottom" (click)="navigateToCoach()">
    <div class="slide-content">Coach.</div>
    <img class="visitor-component-img" src="../assets/images/weight.jpg" height="200px" width="200px" />
  </div>
  <div class="slide slide-left" (click)="navigateToSubscription()">
    <div class="slide-content">Subscription.</div>
    <img class="visitor-component-img" src="../assets/images/weight.jpg" height="200px" width="200px" />
  </div>
</div>
